@charset "UTF-8";
/*
   公用变量
*/
/* color
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* Disable base
-------------------------- */
/* Transition
-------------------------- */
.cart-nev ul li a {
  border-left: 0 !important;
}

.cart {
  margin-bottom: 20px;
  background-color: #fff;
}

.cart .cart-top {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.cart .cart-top .cart-top-l {
  float: left;
}

.cart .cart-top .cart-top-l .title {
  position: relative;
  padding: 0 10px;
  float: left;
  width: 254px;
  height: 36px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.cart .cart-top .cart-top-l .title h3 {
  font-size: 14px;
  font-weight: bold;
  color: #666;
  float: left;
  line-height: 36px;
}

.cart .cart-top .cart-top-l .title p {
  margin-left: 190px;
  font-size: 14px;
  color: #666;
  line-height: 36px;
}

.cart .cart-top .cart-top-l .title:first-child {
  border-right: 0;
}

.cart .cart-top .cart-top-l .title:first-child + div {
  border-right: 0;
}

.cart .cart-top .cart-top-l .title:before {
  position: absolute;
  top: 16px;
  left: 234px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px;
  border-color: #bf1132 transparent transparent  transparent;
}

.cart .cart-top .cart-top-r {
  float: right;
}

.cart .cart-top .cart-top-r .search label {
  float: left;
  padding: 0 5px;
  width: 342px;
  height: 36px;
  border: 1px solid #ccc;
  border-right: 0;
}

.cart .cart-top .cart-top-r .search label input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font: 14px/40px "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #333;
}

.cart .cart-top .cart-top-r .search label input::-moz-input-placeholder {
  color: #ccc;
}

.cart .cart-top .cart-top-r .search label input::-webkit-input-placeholder {
  color: #ccc;
}

.cart .cart-top .cart-top-r .search label input::-ms-input-placeholder {
  color: #ccc;
}

.cart .cart-top .cart-top-r .search .search-btn {
  float: left;
  width: 36px;
  height: 36px;
  background: url(../../images/icon1.png) #c01132 center center no-repeat;
  cursor: pointer;
}

.cart .cart-bottom {
  padding: 15px;
}

.cart .cart-bottom ul {
  margin-bottom: 15px;
  background-color: #ddd;
  height: 40px;
}

.cart .cart-bottom ul li {
  float: left;
  font-size: 14px;
  color: #666;
  line-height: 40px;
  text-align: center;
}

.cart .cart-bottom ul li:first-child {
  width: 55px;
  height: 40px;
  background: url(../../images/select_no.jpg) center center no-repeat;
  cursor: pointer;
}

.cart .cart-bottom ul li:first-child.on {
  background: url(../../images/select.jpg) center center no-repeat;
}

.cart .cart-bottom ul li:first-child + li {
  width: 365px;
  text-align: left;
  padding-left: 20px;
}

.cart .cart-bottom ul li:first-child + li + li {
  width: 85px;
}

.cart .cart-bottom ul li:first-child + li + li + li {
  width: 85px;
}

.cart .cart-bottom ul li:first-child + li + li + li + li {
  width: 85px;
}

.cart .cart-bottom ul li:first-child + li + li + li + li + li {
  width: 85px;
}

.cart .cart-bottom ul li:first-child + li + li + li + li + li + li {
  width: 85px;
}

.cart .cart-bottom ul li:first-child + li + li + li + li + li + li + li {
  width: 85px;
}

.cart .cart-bottom ul li:first-child + li + li + li + li + li + li + li + li {
  width: 85px;
}

.cart .cart-bottom ul li:first-child + li + li + li + li + li + li + li + li + li {
  width: 85px;
}

.cart .cart-bottom ul li:first-child + li + li + li + li + li + li + li + li + li + li {
  width: 60px;
}

.cart .cart-bottom dl {
  padding: 5px 0;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.cart .cart-bottom dl dd {
  float: left;
  font-size: 14px;
  color: #666;
  height: 100px;
  text-align: center;
  display: table;
}

.cart .cart-bottom dl dd span {
  display: table-cell;
  vertical-align: middle;
}

.cart .cart-bottom dl dd:first-child {
  width: 55px;
  height: 100px;
  background: url(../../images/select_no.jpg) center center no-repeat;
  cursor: pointer;
}

.cart .cart-bottom dl dd:first-child.active {
  background: url(../../images/select.jpg) center center no-repeat;
}

.cart .cart-bottom dl dd:first-child + dd {
  width: 356px;
  text-align: left;
}

.cart .cart-bottom dl dd:first-child + dd .img img {
  float: left;
}

.cart .cart-bottom dl dd:first-child + dd .img .text {
  margin-left: 140px;
}

.cart .cart-bottom dl dd:first-child + dd .img .text p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.cart .cart-bottom dl dd:first-child + dd + dd {
  width: 85px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd {
  width: 85px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd {
  width: 85px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd {
  width: 85px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd {
  width: 85px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd {
  width: 85px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd + dd {
  width: 85px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd + dd .cart-button {
  margin-top: 21px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd + dd .cart-button label {
  float: left;
  width: 70px;
  height: 58px;
  border: 1px solid #ccc;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd + dd .cart-button label input {
  font: 18px/1.5 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #666;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd + dd .cart-button .add-subtract {
  margin-left: 70px;
  width: 24px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd + dd .cart-button .add-subtract i {
  width: 24px;
  height: 29px;
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 29px;
  font-size: 20px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd + dd .cart-button .add-subtract i:first-child {
  background-color: #c31032;
  color: #fff;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd + dd .cart-button .add-subtract i:first-child + i {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd + dd + dd {
  width: 85px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd + dd + dd + dd {
  width: 60px;
}

.cart .cart-bottom dl dd:first-child + dd + dd + dd + dd + dd + dd + dd + dd + dd + dd a {
  font-size: 14px;
  color: #666;
}

.cart .cart-bottom dl.activebig {
  background-color: #fcf3f5;
}

.cart .cart-bottom .cart-bottom-foot {
  overflow: hidden;
  margin-top: 20px;
}

.cart .cart-bottom .cart-bottom-foot > p {
  font-size: 14px;
  color: #666;
  float: left;
  margin-left: 60px;
}

.cart .cart-bottom .cart-bottom-foot > p span {
  margin-left: 30px;
}

.cart .cart-bottom .cart-bottom-foot .text {
  padding: 5px 0;
  margin-right: 20px;
  float: right;
  text-align: right;
}

.cart .cart-bottom .cart-bottom-foot .text p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.cart .cart-bottom .cart-bottom-foot .text p em {
  color: #c31032;
  font-weight: bold;
}

.cart .cart-bottom .cart-bottom-foot a {
  float: right;
  width: 176px;
  height: 58px;
  text-align: center;
  line-height: 58px;
  background: #c31032;
  background: -webkit-gradient(linear, left top, left bottom, from(#e60133), to(#c01132));
  background: -webkit-linear-gradient(#e60133, #c01132);
  background: -o-linear-gradient(#e60133, #c01132);
  background: linear-gradient(#e60133, #c01132);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
