@charset "UTF-8";
/*
   公用变量
*/
/* color
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* Disable base
-------------------------- */
/* Transition
-------------------------- */
.news {
  margin: 10px 0 0 0;
  overflow: hidden;
}

.news .news-l {
  padding: 20px 0;
  float: left;
  width: 986px;
  height: 164px;
  background-color: #fff;
  overflow: hidden;
}

.news .news-l .items {
  padding: 0 20px;
  float: left;
  width: 328px;
  border-right: 1px solid #ccc;
}

.news .news-l .items h3 {
  padding-left: 25px;
  margin-bottom: 10px;
  font: bold 16px/1.5 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #333;
}

.news .news-l .items ul {
  padding-left: 25px;
}

.news .news-l .items ul li a {
  display: block;
  width: 262px;
  font: 14px/2 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #666;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.news .news-l .items ul li a:hover {
  color: #c01132;
  text-decoration: underline;
}

.news .news-l .items:first-child h3 {
  background: url(../../images/icon4.png) left center no-repeat;
}

.news .news-l .items:first-child + div h3 {
  background: url(../../images/icon5.png) left center no-repeat;
}

.news .news-l .items:first-child + div + div {
  border-right: 0;
}

.news .news-l .items:first-child + div + div h3 {
  background: url(../../images/icon6.png) left center no-repeat;
}

.news .news-r {
  float: right;
  width: 189px;
  height: 164px;
  font-size: 0;
}

.hot-product {
  margin: 10px 0 30px;
  background-color: #fff;
}

.hot-product .title {
  padding: 10px 20px;
  height: auto;
  overflow: hidden;
}

.hot-product .title h3 {
  padding-left: 36px;
  float: left;
  background: url(../../images/icon7.png) left center no-repeat;
  font: bold 18px/23px "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #333;
}

.hot-product .title a {
  float: right;
  font: 14px/23px "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #333;
}

.hot-product .title a:hover {
  color: #c01132;
  text-decoration: underline;
}

.hot-product .product-list {
  padding: 20px;
  padding-top: 0;
  overflow: hidden;
}

.hot-product .product-list .items {
  float: left;
  margin-left: 12px;
}

.hot-product .product-list .items:first-child {
  margin-left: 0;
}

.hot-product .product-list .items .img {
  font-size: 0;
  witdh: 220px;
  heihgt: 220px;
}

.hot-product .product-list .items .img img {
  width: 100%;
}

.hot-product .product-list .items h4 {
  font: 18px/2 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #333;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  width: 220px;
}

.hot-product .product-list .items h5 {
  margin-top: 5px;
  font: 18px/2 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #c01132;
}
