@charset "UTF-8";
/*
   公用变量
*/
/* color
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* Disable base
-------------------------- */
/* Transition
-------------------------- */
.container-list {
  margin-bottom: 20px;
}

.list-l {
  float: left;
  width: 190px;
}

.list-l .list-l-product {
  padding: 0 20px;
  background-color: #fff;
}

.list-l .list-l-product > h3 {
  padding: 10px 0;
  background: url(../../images/icon7.png) 120px center no-repeat;
  font: bold 16px/23px "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #666;
}

.list-l .list-l-product .product-items-content .product-items {
  display: block;
  padding: 8px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.list-l .list-l-product .product-items-content .product-items .img {
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  background-color: #ccc;
  text-align: center;
  font-size: 0;
}

.list-l .list-l-product .product-items-content .product-items .img > img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.list-l .list-l-product .product-items-content .product-items h5 {
  font: 14px/1.5 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #666;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  width: 150px;
}

.list-l .list-l-product .product-items-content .product-items p {
  font: 14px/1.5 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #666;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  width: 150px;
}

.list-l .list-l-product .product-items-content .product-items h6 {
  font: bold 14px/1.5 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #c01132;
}

.list-l .list-l-product .product-items-content .product-items:first-child + div + div {
  border-bottom: 0;
}

.list-l .list-l-product-foot {
  margin-top: 10px;
}

.list-l .list-l-product-foot img {
  width: 100%;
}

.list-r {
  margin-left: 200px;
}

.list-r .list-r-nav {
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
}

.list-r .list-r-nav .list-r-nav-l {
  float: left;
  padding: 7px 0 10px 7px;
}

.list-r .list-r-nav .list-r-nav-l .t h4, .list-r .list-r-nav .list-r-nav-l .b h4 {
  margin-right: 20px;
  display: inline-block;
  font: bold 14px/2 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #666;
}

.list-r .list-r-nav .list-r-nav-l .t ul, .list-r .list-r-nav .list-r-nav-l .b ul {
  display: inline-block;
}

.list-r .list-r-nav .list-r-nav-l .t ul li, .list-r .list-r-nav .list-r-nav-l .b ul li {
  display: inline-block;
  font: 14px/1 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #666;
  border-right: 1px solid #999;
  padding-right: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.list-r .list-r-nav .list-r-nav-l .t ul li:hover, .list-r .list-r-nav .list-r-nav-l .b ul li:hover {
  color: #c21032;
}

.list-r .list-r-nav .list-r-nav-l .t ul li.on, .list-r .list-r-nav .list-r-nav-l .b ul li.on {
  color: #c21032;
}

.list-r .list-r-nav .list-r-nav-l .t span, .list-r .list-r-nav .list-r-nav-l .b span {
  display: inline-block;
  font: 14px/1 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #c21032;
  cursor: pointer;
}

.list-r .list-r-nav .list-r-nav-r {
  float: right;
  font-size: 0;
}

.list-r .list-r-prodect {
  margin-top: 10px;
  overflow: hidden;
}

.list-r .list-r-prodect .list-r-prodect-items {
  padding: 15px;
  margin: 10px 10px 0 0;
  float: left;
  width: 190px;
  background-color: #fff;
}

.list-r .list-r-prodect .list-r-prodect-items .img {
  display: block;
  margin-bottom: 10px;
  width: 160px;
  height: 160px;
  line-height: 160px;
  background-color: #ccc;
  text-align: center;
  font-size: 0;
}

.list-r .list-r-prodect .list-r-prodect-items .img > img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.list-r .list-r-prodect .list-r-prodect-items h5 a {
  display: block;
  font: 14px/1.8 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #666;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  width: 150px;
}

.list-r .list-r-prodect .list-r-prodect-items p a {
  display: block;
  font: 14px/1.8 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #666;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  width: 150px;
}

.list-r .list-r-prodect .list-r-prodect-items h6 {
  font: bold 14px/1.8 "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #c01132;
}

.list-r .list-r-prodect .list-r-prodect-items .btn {
  margin-top: 5px;
  padding: 0 10px;
  display: block;
  width: 160px;
  height: 32px;
  border: 1px solid #ccc;
  font: 14px/30px "Microsoft Yahei", Tahoma, Simsun, sans-serif, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti;
  color: #666;
  background: url(../../images/list_icon2.png) #fff 134px center no-repeat;
}

.list-r .list-r-prodect .list-r-prodect-items .btn:hover {
  color: #fff;
  border: 1px solid #c21032;
  background: url(../../images/list_icon1.png) #c21032 134px center no-repeat;
}

.list-r .list-r-prodect .list-r-prodect-items:first-child + div + div + div + div {
  margin-right: 0;
}

.list-r .list-r-prodect .list-r-prodect-items:first-child + div + div + div + div + div + div + div + div + div {
  margin-right: 0;
}

.list-r .list-r-prodect .list-r-prodect-items:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  margin-right: 0;
}
