<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="name, sycbbb@sina.com"/>
    <meta name="robots" content="index,follow"/>
	<title></title>
	<link rel="stylesheet" href="../styles/css/global.css">
	<link rel="stylesheet" href="../styles/css/list.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="w1190 header-content">
				<div class="logo"><img src="../images/logo_big.png" alt=""></div>
				<div class="search">
					<label><input type="text" placeholder="请输入 产品类别／产品名称／用途／供应商"></label>
					<div class="search-btn"></div>
				</div>
				<div class="shopping-carts items">
					<a href="">购物车(5)</a>
					<div class="cart">
						<div class="cart-content-items" id="boxscroll">
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
						</div>
						<div class="cart-content-bottom">
							<p>共<em>5</em>件商品<span>共计<em>8658.45</em>元</span></p>
							<a href="">去购物车</a>
						</div>
					</div>
				</div>
				<div class="login items">
					<a href="">你好，程丽萍 ›</a>
					<div class="login-list">
						<a href="">我的基本信息</a>
						<a href="">我的订单(<em>8</em>)</a>
						<a href="">我的收藏(<em>12</em>)</a>
					</div>
				</div>
			</div>
		</div>
		<div class="nev w1190">
			<div class="title-list">
				<h3>商品分类</h3>
				<div class="title-list-content">
					<dl>
						<dt>运营耗品 ></dt>
						<dd>
							<a href="">印刷品</a>
							<a href="">易耗品</a>
							<a href="">小商品</a>
							<a href="">会员</a>
						</dd>
					</dl>
					<dl>
						<dt>布草及工服 ></dt>
						<dd>
							<a href="">布草</a>
							<a href="">工服</a>
						</dd>	      
					</dl>
					<dl>
						<dt>基础建材 ></dt>
						<dd>
							<a href="">涂料墙纸 </a>
							<a href="">龙头花洒 </a>
							<a href="">开关插</a>
						</dd>
					</dl>
					<dl>
						<dt>门锁 ></dt>
						<dd><a href="">门锁</a></dd>
					</dl>
					<dl>
						<dt>软装装饰 ></dt>
						<dd>
							<a href="">广告标识</a> 
							<a href="">床垫</a>
							<a href="">窗帘</a>
							<a href="">家具</a>
						</dd>
					</dl>
					<dl>
						<dt>IT/电器/设备 ></dt>
						<dd>
							<a href="">网络设备</a>
							<a href="">电器</a>
							<a href="">空调</a>
						</dd>
					</dl>
				</div>
			</div>
			<div class="list-r-tilte">
				<div class="list-r-tilte-l">
					<h4>运营耗品 > </h4>
					<ul>
						<li><a href="javascript:;">印刷品</a></li>
						<li>
							<a href="javascript:;">易耗品</a>
							<div class="text-list">
								<ul>
									<li>洗漱用品</li>
									<li>纸杯</li>
									<li>拖鞋</li>
									<li>纸巾</li>
									<li>其他</li>
								</ul>
							</div>
						</li>
						<li><a href="javascript:;">赠饮</a></li>
						<li><a href="javascript:;">小商品</a></li>
						<li><a href="javascript:;">配备物品</a></li>
						<li><a href="javascript:;">香薰</a></li>
						<li><a href="javascript:;">会员卡</a></li>
						<li><a href="javascript:;">餐厅及厨房用品</a></li>
						<li><a href="javascript:;">健身器材</a></li>
						<li><a href="javascript:;">健身器材</a></li>
					</ul>
				</div>
				<div class="list-r-tilte-r">
					<a href="">订单模版</a>
					<a href="">操作指南</a>
				</div>
			</div>
		</div>
		<div class="container container-list w1190">
			<div class="list-l">
				<div class="list-l-product">
					<h3>广告商品</h3>
					<div class="product-items-content">
						<a href="" class="product-items">
							<div class="img"><img src="../images/product1.jpg" alt=""></div>
							<h5>精选便捷3.0-</h5>
							<p>东升-走廊地毯</p>
							<h6>¥ 848.00</h6>
						</a>
						<a href="" class="product-items">
							<div class="img"><img src="../images/product2.jpg" alt=""></div>
							<h5>精选便捷3.0-</h5>
							<p>东升-走廊地毯走廊地毯走廊地毯走廊地毯走廊地毯</p>
							<h6>¥ 848.00</h6>
						</a>
						<a href="" class="product-items">
							<div class="img"><img src="../images/product3.jpg" alt=""></div>
							<h5>精选便捷3.0-</h5>
							<p>东升-走廊地毯</p>
							<h6>¥ 848.00</h6>
						</a>
					</div>	
				</div>
				<div class="list-l-product-foot">
					<a href=""><img src="../images/index.jpg" alt=""></a>
				</div>
			</div>
			<div class="list-r">
				<div class="list-r-nav">
					<div class="list-r-nav-l">
						<div class="t">
							<h4>商品筛选</h4>
							<ul>
								<li class="on">全部</li>
								<li>酒店品牌1</li>
								<li>酒店品牌2</li>
								<li>酒店品牌3</li>
								<li>酒店品牌4</li>
							</ul> 
							<span>展开 ›</span>  
						</div>
						<div class="b">
							<h4>商品排序</h4>
							<ul>
								<li class="on">综合排序</li>
								<li>销量</li>
								<li>价格</li>
								<li>评论数</li>
								<li>上架时间</li>
							</ul>   
					</div>
					</div>
					<div class="list-r-nav-r">
						<img src="../images/code1.jpg" alt="">
					</div>
				</div>
				<div class="list-r-prodect">
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product1.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product2.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product3.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product2.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product1.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product2.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product3.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product1.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product2.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product1.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product3.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product1.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product1.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product2.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
					<div class="list-r-prodect-items">
						<a href="" class="img"><img src="../images/product2.jpg" alt=""></a>
						<h5><a href="">精选便捷3.0-</a></h5>
						<p><a href="">东升-走廊地毯</a></p>
						<h6>¥ 18.00</h6>
						<a class="btn" href="">加入购物车</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="w1190 footer-content">
				<div class="footer-content-l">
					<div class="title">
						<ul>
							<li><i><img src="../images/icon8.png" alt=""></i>关于我们</li>
							<li><i><img src="../images/icon9.png" alt=""></i>操作指南 </li>
							<li><i><img src="../images/icon10.png" alt=""></i>售后服务</li>
							<li><i><img src="../images/icon11.png" alt=""></i>商务合作</li>
						</ul>
						<div class="settings">
							<a href="">管理后台</a>
						</div>
					</div>
					<div class="list">
						<dl>
							<dd><a href="">关于精选</a></dd>
							<dd><a href="">关于商城</a></dd>
						</dl>
						<dl>
							<dd><a href="">下单指引  </a></dd>
							<dd><a href="">酒店付款及开票</a></dd>
							<dd><a href="">供应商结算指引</a></dd>
						</dl>
						<dl>
							<dd><a href="">退换货流程</a></dd>
							<dd><a href="">投诉建议</a></dd>
							<dd><a href="">联系客服</a></dd>
						</dl>
						<dl>
							<dd><a href="">供应商合作</a></dd>
							<dd><a href="">金融合作</a></dd>
						</dl>
					</div>
					<p>© 2018 精选商城 版权所有 粤ICP备XXXXXX号</p>
				</div>
				<div class="footer-content-r"><img src="../images/code.jpg" alt=""></div>
			</div>
		</div>
	</div>
	<script src="../plugins/jquery/jquery.min.js"></script>
	<script src="../plugins/jquery/jquery.nicescroll.min.js"></script>
	<script>
		$(function(){
			//滚动条
			$("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#ddd"});
			//购物车移入移出
			$(".shopping-carts,.login").hover(function(){
			    $(this).addClass("on");
				$(this).append('<div class="line"></div>');
				$(this).find("a").next().show();
			},function(){
			    $(this).removeClass("on");
				$(".line").remove();
				$(this).find("a").next().hide();
			});
			//删除
			$(".cart .del").bind("click",function(){
				$(this).parent().remove();
			})

			//list 商品分类
			$(".nev .title-list").hover(function(){
			    $(this).find(".title-list-content").show();
			},function(){
			    $(this).find(".title-list-content").hide();
			});
			$(".list-r-tilte-l>ul>li").hover(function(){
				$(this).css('borderBottom','2px solid #c31032');
				$(this).find(".text-list").show();
			},function(){
				$(this).find(".text-list").hide();
				$(this).css('borderBottom',0);
			});
			//list 商品筛选 商品排序
			$(".list-r .b li,.list-r .t li,.list-r-tilte-l li").bind("click",function(){
				$(this).addClass("on").siblings().removeClass("on");
			});


		});
	</script>
	<!-- 以下是针对ie9以下才执行的js代码 注意不要删掉哦！！！ -->
	<!--[if lt IE 9 ]>    
		<script src="../plugins/jquery/jquery.placeholder.min.js"></script>
		<script>
			$(function(){
			    $('input, textarea').placeholder();
			});
		</script>
	<![endif]-->	
</body>
</html>