<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="name, sycbbb@sina.com"/>
    <meta name="robots" content="index,follow"/>
	<title></title>
	<link rel="stylesheet" href="../styles/css/global.css">
	<link rel="stylesheet" href="../styles/css/list.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="w1190 header-content">
				<div class="logo"><img src="../images/logo_big.png" alt=""></div>
				<div class="search">
					<label><input type="text" placeholder="请输入 产品类别／产品名称／用途／供应商"></label>
					<div class="search-btn"></div>
				</div>
				<div class="shopping-carts items">
					<a href="">购物车(5)</a>
					<div class="cart">
						<div class="cart-content-items" id="boxscroll">
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
						</div>
						<div class="cart-content-bottom">
							<p>共<em>5</em>件商品<span>共计<em>8658.45</em>元</span></p>
							<a href="">去购物车</a>
						</div>
					</div>
				</div>
				<div class="login items">
					<a href="">你好，程丽萍 ›</a>
					<div class="login-list">
						<a href="">我的基本信息</a>
						<a href="">我的订单(<em>8</em>)</a>
						<a href="">我的收藏(<em>12</em>)</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container w1190">
			<div class="list-l">
				
			</div>
			<div class="list-r"></div>
		</div>
		<div class="footer">
			<div class="w1190 footer-content">
				<div class="footer-content-l">
					<div class="title">
						<ul>
							<li><i><img src="../images/icon8.png" alt=""></i>关于我们</li>
							<li><i><img src="../images/icon9.png" alt=""></i>操作指南 </li>
							<li><i><img src="../images/icon10.png" alt=""></i>售后服务</li>
							<li><i><img src="../images/icon11.png" alt=""></i>商务合作</li>
						</ul>
						<div class="settings">
							<a href="">管理后台</a>
						</div>
					</div>
					<div class="list">
						<dl>
							<dd><a href="">关于精选</a></dd>
							<dd><a href="">关于商城</a></dd>
						</dl>
						<dl>
							<dd><a href="">下单指引  </a></dd>
							<dd><a href="">酒店付款及开票</a></dd>
							<dd><a href="">供应商结算指引</a></dd>
						</dl>
						<dl>
							<dd><a href="">退换货流程</a></dd>
							<dd><a href="">投诉建议</a></dd>
							<dd><a href="">联系客服</a></dd>
						</dl>
						<dl>
							<dd><a href="">供应商合作</a></dd>
							<dd><a href="">金融合作</a></dd>
						</dl>
					</div>
					<p>© 2018 精选商城 版权所有 粤ICP备XXXXXX号</p>
				</div>
				<div class="footer-content-r"><img src="../images/code.jpg" alt=""></div>
			</div>
		</div>
	</div>
	<script src="../plugins/jquery/jquery.min.js"></script>
	<script src="../plugins/jquery/jquery.nicescroll.min.js"></script>
	<script>
		$(function(){
			//滚动条
			$("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#ddd"});
			//购物车移入移出
			$(".shopping-carts,.login").bind("mouseenter",function(){
				$(this).addClass("on");
				$(this).append('<div class="line"></div>');
				$(this).find("a").next().show();
			});
			$(".shopping-carts,.login").bind("mouseleave",function(){
				$(this).removeClass("on");
				$(".line").remove();
				$(this).find("a").next().hide();
			});
			//删除
			$(".cart .del").bind("click",function(){
				$(this).parent().remove();
			})
		});
	</script>
	<!-- 以下是针对ie9以下才执行的js代码 注意不要删掉哦！！！ -->
	<!--[if lt IE 9 ]>    
		<script src="../plugins/jquery/jquery.placeholder.min.js"></script>
		<script>
			$(function(){
			    $('input, textarea').placeholder();
			});
		</script>
	<![endif]-->	
</body>
</html>