<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="name, sycbbb@sina.com"/>
    <meta name="robots" content="index,follow"/>
	<title></title>
	<link rel="stylesheet" href="../plugins/swiper/idangerous.swiper.css">
	<link rel="stylesheet" href="../styles/css/global.css">
	<link rel="stylesheet" href="../styles/css/order.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="w1190 header-content">
				<div class="logo"><img src="../images/logo_big.png" alt=""></div>
				<div class="search">
					<label><input type="text" placeholder="请输入 产品类别／产品名称／用途／供应商"></label>
					<div class="search-btn"></div>
				</div>
				<div class="shopping-carts items">
					<a href="">购物车(5)</a>
					<div class="cart">
						<div class="cart-content-items" id="boxscroll">
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
							<div class="cart-items">
								<div class="img"><img src="../images/cart.jpg" alt=""></div>
								<div class="text">
									<p>精选便捷</p>
									<p>创点-客房抽纸盒</p>
									<h6>￥18.00</h6>
								</div>
								<a class="del" href="javascript:;">删除</a>
							</div>
						</div>
						<div class="cart-content-bottom">
							<p>共<em>5</em>件商品<span>共计<em>8658.45</em>元</span></p>
							<a href="">去购物车</a>
						</div>
					</div>
				</div>
				<div class="login items">
					<a href="">你好，程丽萍 ›</a>
					<div class="login-list">
						<a href="">我的基本信息</a>
						<a href="order.html">我的订单(<em>8</em>)</a>
						<a href="">我的收藏(<em>12</em>)</a>
					</div>
				</div>
			</div>
		</div>
		<div class="nev w1190">
			<div class="title-list">
				<h3>商品分类</h3>
				<div class="title-list-content">
					<dl>
						<dt>运营耗品 ></dt>
						<dd>
							<a href="">印刷品</a>
							<a href="">易耗品</a>
							<a href="">小商品</a>
						</dd>
						<div class="cate_part">
							<ul>
								<li>印刷品</li>
								<li>易耗品</li>
								<li>赠饮</li>
								<li>小商品</li>
								<li>香薰</li>
								<li>会员卡</li>
								<li>餐厅及厨房用品</li>
								<li>健身器材</li>
							</ul>  
						</div>
					</dl>
					<dl>
						<dt>布草及工服 ></dt>
						<dd>
							<a href="">布草</a>
							<a href="">工服</a>
						</dd>	
						<div class="cate_part">
							<ul>
								<li>印刷品1</li>
								<li>易耗品</li>
								<li>赠饮</li>
								<li>小商品</li>
								<li>香薰</li>
								<li>会员卡</li>
								<li>餐厅及厨房用品</li>
								<li>健身器材</li>
							</ul>  
						</div>      
					</dl>
					<dl>
						<dt>基础建材 ></dt>
						<dd>
							<a href="">涂料墙纸 </a>
							<a href="">龙头花洒 </a>
						</dd>
						<div class="cate_part">
							<ul>
								<li>印刷品2</li>
								<li>易耗品</li>
								<li>赠饮</li>
								<li>小商品</li>
								<li>香薰</li>
								<li>会员卡</li>
								<li>餐厅及厨房用品</li>
								<li>健身器材</li>
							</ul>  
						</div>
					</dl>
					<dl>
						<dt>门锁 ></dt>
						<dd><a href="">门锁</a></dd>
						<div class="cate_part">
							<ul>
								<li>印刷品3</li>
								<li>易耗品</li>
								<li>赠饮</li>
								<li>小商品</li>
								<li>香薰</li>
								<li>会员卡</li>
								<li>餐厅及厨房用品</li>
								<li>健身器材</li>
							</ul>  
						</div>
					</dl>
					<dl>
						<dt>软装装饰 ></dt>
						<dd>
							<a href="">广告标识</a> 
							<a href="">床垫</a>
							<a href="">窗帘</a>
						</dd>
						<div class="cate_part">
							<ul>
								<li>印刷品4</li>
								<li>易耗品</li>
								<li>赠饮</li>
								<li>小商品</li>
								<li>香薰</li>
								<li>会员卡</li>
								<li>餐厅及厨房用品</li>
								<li>健身器材</li>
							</ul>  
						</div>
					</dl>
					<dl>
						<dt>IT/电器/设备 ></dt>
						<dd>
							<a href="">网络设备</a>
							<a href="">电器</a>
							<a href="">空调</a>
						</dd>
						<div class="cate_part">
							<ul>
								<li>印刷品5</li>
								<li>易耗品</li>
								<li>赠饮</li>
								<li>小商品</li>
								<li>香薰</li>
								<li>会员卡</li>
								<li>餐厅及厨房用品</li>
								<li>健身器材</li>
							</ul>  
						</div>
					</dl>
				</div>
			</div>
			<div class="list-r-tilte">
				<div class="list-r-tilte-l">
					<h4>我的订单 > </h4>
					<ul>
						<li><a href="javascript:;">全部订单</a></li>
						<li><a href="javascript:;">单据暂存</a></li>
						<li><a href="javascript:;">待财专确认</a></li>
						<li><a href="javascript:;">待收货</a></li>
						<li><a href="javascript:;">已收货</a></li>
						<li><a href="javascript:;">退货单</a></li>
					</ul>
				</div>
				<div class="list-r-tilte-r">
					<a href="">订单模版</a>
					<a href="">操作指南</a>
				</div>
			</div>
		</div>
		<div class="container container-order w1190">
			<div class="order">
				<div class="order-top">
					<ul>
						<li><h6>订单号</h6><span>SQ201806000657</span></li>
						<li><h6>产品大类</h6><span></span></li>
						<li><h6>订单日期</h6><span>2018.05.05 ~ 2018.06.05</span></li>
						<li><h6>供应商</h6><span></span></li>
						<li><h6>产品名称</h6><span></span></li>
						<li><h6>收货日期</h6><span>2018.05.05 ~ 2018.06.05</span></li>
					</ul>
					<div class="order-top-r">
						<div class="t"><h5>订单状态</h5><h6>全部订单</h6></div>
						<div class="b">
							<a href="">导出</a>
							<a href="">查询</a>
						</div>
					</div>
				</div>
				<div class="order-middle">
					<dl>
						<dd>订单号</dd>
						<dd>订单日期</dd>
						<dd>供应商户名</dd>
						<dd>物流公司</dd>
						<dd>物流单号</dd>
						<dd>物流电话</dd>
						<dd>订单金额</dd>
						<dd>订单状态</dd>
						<dd>开票日期</dd>
						<dd>操作</dd>
					</dl>
					<div class="order-middle-content">
						<div class="order-middle-items">
							<ul>
								<li><span>SQ201806000657</span></li>
								<li><span>2018-06-04</span></li>
								<li><span>广西东呈酒店管理有限公司</span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span>3,750</span></li>
								<li><span>待财专确认</span></li>
								<li><span></span></li>
								<li><span><a href="">展开</a><a href="">合同</a><a href="">取消</a></span></li>
							</ul>
						</div>
						<div class="order-middle-items">
							<ul>
								<li><span>SQ201806000657</span></li>
								<li><span>2018-06-04</span></li>
								<li><span>广西东呈酒店管理有限公司</span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span>3,750</span></li>
								<li><span>待财专确认</span></li>
								<li><span></span></li>
								<li><span><a href="">展开</a><a href="">合同</a><a href="">取消</a></span></li>
							</ul>
						</div>
						<div class="order-middle-items">
							<ul>
								<li><span>SQ201806000657</span></li>
								<li><span>2018-06-04</span></li>
								<li><span>广西东呈酒店管理有限公司</span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span>3,750</span></li>
								<li><span>待财专确认</span></li>
								<li><span></span></li>
								<li><span><a href="">展开</a><a href="">合同</a><a href="">取消</a></span></li>
							</ul>
						</div>
						<div class="order-middle-items">
							<ul>
								<li><span>SQ201806000657</span></li>
								<li><span>2018-06-04</span></li>
								<li><span>广西东呈酒店管理有限公司</span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span>3,750</span></li>
								<li><span>待财专确认</span></li>
								<li><span></span></li>
								<li><span><a href="">展开</a><a href="">合同</a><a href="">取消</a></span></li>
							</ul>
						</div>
						<div class="order-middle-items">
							<ul>
								<li><span>SQ201806000657</span></li>
								<li><span>2018-06-04</span></li>
								<li><span>广西东呈酒店管理有限公司</span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span>3,750</span></li>
								<li><span>待财专确认</span></li>
								<li><span></span></li>
								<li><span><a href="">展开</a><a href="">合同</a><a href="">取消</a></span></li>
							</ul>
						</div>
						<div class="order-middle-items">
							<ul>
								<li><span>SQ201806000657</span></li>
								<li><span>2018-06-04</span></li>
								<li><span>广西东呈酒店管理有限公司</span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span>3,750</span></li>
								<li><span>待财专确认</span></li>
								<li><span></span></li>
								<li><span><a href="">展开</a><a href="">合同</a><a href="">取消</a></span></li>
							</ul>
						</div>
						<div class="order-middle-items">
							<ul>
								<li><span>SQ201806000657</span></li>
								<li><span>2018-06-04</span></li>
								<li><span>广西东呈酒店管理有限公司</span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span>3,750</span></li>
								<li><span>待财专确认</span></li>
								<li><span></span></li>
								<li><span><a href="">展开</a><a href="">合同</a><a href="">取消</a></span></li>
							</ul>
						</div>
						<div class="order-middle-items">
							<ul>
								<li><span>SQ201806000657</span></li>
								<li><span>2018-06-04</span></li>
								<li><span>广州固优商贸有限公司</span></li>
								<li><span>广西太古可口可乐饮料有限公司</span></li>
								<li><span>TGKLBJ- 2049915441</span></li>
								<li><span><em>13014996181</em><em>13548644865</em></span></li>
								<li><span>3,750</span></li>
								<li><span>门店已收货</span></li>
								<li><span></span></li>
								<li><span><a href="">展开</a><a href="">合同</a><a href="">评价</a><a href="">退货</a></span></li>
							</ul>
						</div>
						<div class="order-middle-items">
							<ul>
								<li><span>SQ201806000657</span></li>
								<li><span>2018-06-04</span></li>
								<li><span>广州固优商贸有限公司</span></li>
								<li><span>广西太古可口可乐饮料有限公司</span></li>
								<li><span>TGKLBJ- 2049915441</span></li>
								<li><span><em>13014996181</em><em>13548644865</em></span></li>
								<li><span>3,750</span></li>
								<li><span>门店已收货</span></li>
								<li><span></span></li>
								<li><span><a href="">展开</a><a href="">合同</a><a href="">评价</a><a href="">退货</a></span></li>
							</ul>
						</div>
						<div class="order-middle-items">
							<ul>
								<li><span>SQ201806000657</span></li>
								<li><span>2018-06-04</span></li>
								<li><span>广西东呈酒店管理有限公司</span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span>3,750</span></li>
								<li><span>取消单据</span></li>
								<li><span></span></li>
								<li><span><a href="">展开</a><a href="">合同</a></span></li>
							</ul>
						</div>
					</div>	
				</div>
				<div class="order-foot">
					<div class="page"></div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="w1190 footer-content">
				<div class="footer-content-l">
					<div class="title">
						<ul>
							<li><i><img src="../images/icon8.png" alt=""></i>关于我们</li>
							<li><i><img src="../images/icon9.png" alt=""></i>操作指南 </li>
							<li><i><img src="../images/icon10.png" alt=""></i>售后服务</li>
							<li><i><img src="../images/icon11.png" alt=""></i>商务合作</li>
						</ul>
						<div class="settings">
							<a href="">管理后台</a>
						</div>
					</div>
					<div class="list">
						<dl>
							<dd><a href="">关于精选</a></dd>
							<dd><a href="">关于商城</a></dd>
						</dl>
						<dl>
							<dd><a href="">下单指引  </a></dd>
							<dd><a href="">酒店付款及开票</a></dd>
							<dd><a href="">供应商结算指引</a></dd>
						</dl>
						<dl>
							<dd><a href="">退换货流程</a></dd>
							<dd><a href="">投诉建议</a></dd>
							<dd><a href="">联系客服</a></dd>
						</dl>
						<dl>
							<dd><a href="">供应商合作</a></dd>
							<dd><a href="">金融合作</a></dd>
						</dl>
					</div>
					<p>© 2018 精选商城 版权所有 粤ICP备XXXXXX号</p>
				</div>
				<div class="footer-content-r"><img src="../images/code.jpg" alt=""></div>
			</div>
		</div>
	</div>
	<script src="../plugins/jquery/jquery.min.js"></script>
	<script src="../plugins/jquery/jquery.nicescroll.min.js"></script>
	<script src="../plugins/swiper/idangerous.swiper.min.js"></script>
	<script src="../plugins/jqueryPage/pages.js"></script>
	<script>
		$(function(){
			//滚动条
			$("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#ddd"});
			//购物车移入移出
			$(".shopping-carts,.login").hover(function(){
			    $(this).addClass("on");
				$(this).append('<div class="line"></div>');
				$(this).find("a").next().show();
			},function(){
			    $(this).removeClass("on");
				$(".line").remove();
				$(this).find("a").next().hide();
			});
			//删除
			$(".cart .del").bind("click",function(){
				$(this).parent().remove();
			})
			//商品分类
			$(".nev .title-list").hover(function(){
			    $(this).find(".title-list-content").show();
			},function(){
			    $(this).find(".title-list-content").hide();
			});
			$(".list-r-tilte-l>ul>li").hover(function(){
				$(this).css('borderBottom','2px solid #c31032');
				$(this).find(".text-list").show();
			},function(){
				$(this).find(".text-list").hide();
				$(this).css('borderBottom',0);
			});
			//导航
			$(".title-list-content dl").hover(function(){
				$(this).addClass("on");
				$(this).find(".cate_part").show();
			},function(){
				$(this).removeClass("on");
		   		$(this).find(".cate_part").hide();
			});
			//detail 加减
			var sub=$(".total").val();
			$(".add").bind("click",function(){
				sub++;
				$(".total").val(sub);
			})
			$(".subtract").bind("click",function(){
				if(sub > 1){
					sub--;
					$(".total").val(sub);
				}else{
					$(".total").val(1);
				}
			})
			//我的订单 
			$(".list-r-tilte-l li").bind("click",function(){
				$(this).addClass("on").siblings().removeClass("on");
			});
			$(".order-middle-items:even").css('backgroundColor','#f8f8f8')
			//分页
			$(".page").Page({
				Pages:200,
				Alert:function(){confirm("注意您，没有绑定对应的点击事件，此条为自定义弹窗")}//套的时候去掉
			},true);
		});
	</script>
	<!-- 以下是针对ie9以下才执行的js代码 注意不要删掉哦！！！ -->
	<!--[if lt IE 9 ]>    
		<script src="../plugins/jquery/jquery.placeholder.min.js"></script>
		<script>
			$(function(){
			    $('input, textarea').placeholder();
			});
		</script>
	<![endif]-->	
</body>
</html>