@import 'variable';
@import 'mixins';
@import 'base';
body{
	background-color:#f5f5f5;
}
.header{
	width:100%;
	height:auto;
	background-color:#fff;
	border-bottom:1px solid #ddd;
	.header-content{
		padding:28px 0;
		height:100px;
		>div{
			float:left;
		}
		.logo{
			margin-left:18px;
		}
		.search{
			margin-left:30px;
			label{
				float:left;
				padding:0 5px;
				width:536px;
				height:40px;
				border:1px solid #ccc;
				border-right:0;
				input{
					background:none;
					border:none;
					outline:none;
					width:100%;
					height:100%;
					font:14px/40px $font-style-base;
					color:#333;
					&::-moz-input-placeholder{
						color:#ccc;
					}
					&::-webkit-input-placeholder{
						color:#ccc;
					}
					&::-ms-input-placeholder{
						color:#ccc;
					}
				}
			}
			.search-btn{
				float:left;
				width:40px;
				height:40px;
				background:url(../../images/icon1.png) #c01132 center center no-repeat;
				cursor:pointer;
			}
		}
		.items{
			width:188px;
			height:40px;
			>a{
			    display: block;
				width:100%;
				height:100%;
				padding-right:10px;
				font:14px/40px $font-style-base;
				text-align:right;
				border:1px solid #ccc;
			}
		}
		.shopping-carts{
			position:relative;
			margin-left:18px; 
			>a{
				position:absolute;
				top:0;
				left:0;
				height:40px;
				color:#c01132;	
				background:url(../../images/icon2.png) #fff 10px 8px no-repeat;
				z-index: 2;
			    display: block;
			    &:hover{
			    	padding-bottom:50px;
			    	border-bottom: 0;
			    }
			}
			.cart{
				position:absolute;
				left:0;
			    top:50px;
			    z-index: 4;
			    display:none;
				padding:10px 5px 10px 10px;
				background-color:#fff;
				border:1px solid #ccc;
				.cart-content-items{
					padding-right:10px;
					width:378px;
					max-height:386px;
					min-height:89px;
					overflow-x:auto;
					.cart-items{
						padding-bottom:10px;
						margin-bottom:10px;
						width:364px;
						border-bottom:1px solid #ccc;
						overflow:hidden;
						>div{
							float:left;
						}
						.img{
							width:78px;
							height:78px;
							font-size:0;
							>img{
								width:100%;
							}
						}
						.text{
							margin-left:10px;
							p{
								font:14px/1.5 $font-style-base;
								color:#666;
							}
							h6{
							    margin-top: 14px;
								font:14px/1.5 $font-style-base;
								color:#666;
							}
						}
						>a{
							float:right;
							font:14px/1.5 $font-style-base;
							color:#666;
							&:hover{
								color:#c01132;
								text-decoration:underline;
							}
						}
					}
				}
				.cart-content-bottom{
					padding-top:10px;
					overflow:hidden;
					p{
						float:left;
						font:14px/40px $font-style-base;
						span{
							margin-left:10px;
						}
						em{
							color:#c01132;
						}
					}
					a{
						float:right;
						width:80px;
						height:34px;
						font:14px/34px $font-style-base;
						color:#fff;
						background:#c01132;
						text-align:center;
						background:linear-gradient(#e60133, #c01132); 
					}
				}
			}
			.line{
				position:absolute;
				top:40px;
				left:0;
				z-index:2;
				width:188px;
				height:2px;
				background-color:#c01132;
			}
		}
		.shopping-carts.on{
			>a{
				padding-bottom:50px;
			    border-bottom: 0;	
			}
		}
		.login{
			position:relative;
			float:right;
			>a{
				position:absolute;
				top:0;
				left:0;
				height:40px;
				color:#333;	
				background:url(../../images/icon3.png) #fff 10px center no-repeat;
				z-index: 1;
			    display: block;
			}
			.login-list{
				position:absolute;
				left:0;
			    top:40px;
			    display:none;
			    width:188px;
				padding:10px;
				background-color:#fff;
				border:1px solid #ccc;
				border-top:0;
				>a{
					display:block;
					font:14px/2 $font-style-base;
					color:#666;
					em{
				    	color:#c01132;
				    }
				}
			}
		}
		.login.on{
			>a{
				border-bottom:2px solid #c01132;
			}
		}
	}
}
.nev{
	margin-bottom:5px;
	.title-list{
		position:relative;
		float:left;
		width:190px;
    	height:40px;
		h3{
			position:relative;
			padding:0 20px;
			font:bold 18px/40px $font-style-base;
			color:#fff;
			background-color:#818181;
			cursor:pointer;
			&:before{
				position:absolute;
				right:20px;
				top:18px;
				content:'';
				width:0;
				height:0;
				border-style:solid;
				border-width:5px;
  				border-color:#bf1132 transparent transparent transparent;
			}
		}
		.title-list-content{
			position:absolute;
			top:0;
			left:0;
			z-index:21;
			display:none;
			/*background:#000;*/
        	width:660px;
			dl{
				padding:5px 10px;
				display:block;
				cursor:pointer;
				width:190px;
				background:rgba(0,0,0,.8);
        		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8000000,endColorstr=#c8000000);	
				dt{
					display:block;
					font:bold 18px/2 $font-style-base;
					color:#fff;
				}
				dd a{
					font:14px/2 $font-style-base;
					color:#fff;
				}
				.cate_part{
					position:absolute;
					top:0;
					left:190px;
					bottom:0;
					z-index:22;
					/*padding:10px;*/
					display:none;
					background-color:#fff;
					width:150px;
					border-right:1px solid #ccc;
					ul li{
						padding:5px 10px;
						/*float:left;*/
						/*margin-left:20px;*/
						font:14px/2.4 $font-style-base;
						color:#666;
						cursor:pointer;
						background:url(../../images/nav_li1.png) 120px center no-repeat;
						&:hover{
							color:#fff;	
							background:url(../../images/nav_li2.png) #bf1132 120px center no-repeat;
						}
						.cate_part_three{
							position:absolute;
							top:0;
							left:150px;
							bottom:0;
							z-index:3;
							display:none;
							background-color:#fff;
							/*background:linear-gradient(left, #fff 50%, rgba(255,255,255,0) 100%); */
							width:400px;
							a{
								font:14px/2.4 $font-style-base;
								color:#666;
								display:inline-block;
								margin-left:20px;
								&:hover{
									color:#bf1132;	
								}
							}
						}
					}
				}
			}
			dl.on{
				background-color:#bf1132;
			}
		}
	}
	.list-r-tilte{
		margin-left:200px;
		height:48px;
		.list-r-tilte-l{
			padding:5px 0;
			float:left;
			h4{
				display:inline-block;
				vertical-align: middle;
				font:bold 14px/2 $font-style-base;
				color:#666;
			}
			>ul{
				display:inline-block;
				vertical-align: middle;
				>li{
					position:relative;
					float:left;
					padding:5px 0;
					a{
						padding:0 5px;
						font:14px/1 $font-style-base;
						color:#666;
						border-left:1px solid #999;
						&:hover{
							color:#c31032;	
						}
					}
					&:first-child a{
						border-left:0;
					}
					.text-list{
						position:absolute;
						display:none;
						top:33px;
						left:0;
						z-index:21;
						padding:10px;
						width:188px;
						background-color:#fff;
						border:1px solid #ccc; 
						ul{
							li{
								padding:5px 0;
								float:left;
								width:83px;
								font:14px/1 $font-style-base;
								color:#666;
								cursor:pointer;
								&:hover{
									color:#c31032;	
								}
							}
						}
					}
				}
				li.on{
					a{
						color:#c31032;	
					}
				}
			}
		}
		.list-r-tilte-r{
			padding:10px 0;
			float:right;
			width:190px;
			height:auto;
			background:#c31032;
			background:linear-gradient(#e60133, #c01132); 
			a{
				display:inline-block;
				width:92px;
				text-align:center;
				font:14px/16px $font-style-base;
				color:#fff;
				border-right:1px solid #fff;
				&:first-child + a{
					border-right:0;
				}
			}
		}
	}
}
.container {
  height: auto;
  overflow:hidden;
}
.footer{
	padding:20px 0;
	width:100%;
	height:auto;
	overflow:hidden;
	background-color:#e3e4e5;
	.footer-content{
		.footer-content-l{
			float:left;
			width:1000px;
			.title{
				padding-bottom:10px;
				margin-bottom:10px;
				height:auto;
				overflow:hidden;
				border-bottom:1px solid #ccc;
				ul{
					float:left;
					li{
						margin-right:80px;
						display:inline-block;
						font:18px/1.5 $font-style-base;
						color:#333;
						i{
							margin-right:10px;
							font-size:0;
						}
					}
				}
				.settings{
					margin-right:20px;
					margin-top: 26px;
					float:right;
					a{
						padding-right:20px;
						background:url(../../images/icon12.png) right center no-repeat;
						display:block;
						font:12px/15px $font-style-base;
						color:#333;
					}
				}
			}
			.list{
				dl{
					margin:0 80px 0 50px;
					display:inline-block;
					vertical-align:top;
					&:first-child + dl{
						margin-left:55px;
					}
					&:first-child + dl + dl{
						margin-left:14px;
					}
					&:first-child + dl + dl+ dl{
						margin-left:48px;
					}
					dd a{
						font:14px/2 $font-style-base;
						color:#333;
						&:hover{
							color:#c01132;
							text-decoration:underline;
						}
					}
				}
			}
			>p{
				margin-top:20px;
				font:12px/1 $font-style-base;
				color:#333;
			}
		}
		.footer-content-r{
		    margin-top: 10px;
			width:110px;
			float:right;
		}
	}
}