@import 'variable';
.news{
	margin:10px 0 0 0;
	overflow:hidden;
	.news-l{
		padding:20px 0;
		float:left;
		width:986px;
		height:164px;
		background-color:#fff;
		overflow:hidden;
		.items{
			padding:0 20px;
			float:left;
			width:328px;
			border-right:1px solid #ccc;
			h3{
				padding-left:25px;
				margin-bottom:10px;
				font:bold 16px/1.5 $font-style-base;
				color:#333;
			}
			ul{
				padding-left:25px;
				li a{
				    display: block;
					width:262px;
					font:14px/2 $font-style-base;
					color:#666;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    word-break: break-all;
				    white-space: nowrap;
				    &:hover{
						color:#c01132;
						text-decoration:underline;
					}
				}
			} 
			&:first-child{
				h3{
					background:url(../../images/icon4.png) left center no-repeat;
				}
			}
			&:first-child + div{
				h3{
					background:url(../../images/icon5.png) left center no-repeat;
				}
			}
			&:first-child + div + div{
				border-right:0;
				h3{
					background:url(../../images/icon6.png) left center no-repeat;
				}
			}
		}
	}
	.news-r{
		float:right;
		width:189px;
		height:164px;
		font-size:0;
	}
}
.hot-product{
	margin:10px 0 30px;
	background-color:#fff;
	.title{
		padding:10px 20px;
		height:auto;
		overflow:hidden;
		h3{
			padding-left:36px;
			float:left;
			background:url(../../images/icon7.png) left center no-repeat;
			font:bold 18px/23px $font-style-base;
			color:#333;
		}
		a{
			float:right;
			font:14px/23px $font-style-base;
			color:#333;
			&:hover{
				color:#c01132;
				text-decoration:underline;
			}
		}
	}
	.product-list{
		padding:20px;
		padding-top:0;
		overflow:hidden;
		.items{
			float:left;
			margin-left:12px;
			&:first-child{
				margin-left:0;
			}
			.img{
				font-size:0;
				witdh:220px;
				heihgt:220px;
				img{
					width:100%;
				}
			}
			h4{
				font:18px/2 $font-style-base;
				color:#333;
				overflow: hidden;
			    text-overflow: ellipsis;
			    word-break: break-all;
			    white-space: nowrap;
			    width: 220px;
			}
			h5{
				margin-top:5px;
				font:18px/2 $font-style-base;
				color:#c01132;
			}
		}
	}
}