@import 'variable';
.container-list{
	margin-bottom:20px;
	 /*overflow:unset;*/
}
.list-l{
	float:left;
	width:190px;
	.title-list{
		position:relative;
		width:190px;
    	height:40px;
		h3{
			position:relative;
			padding:0 20px;
			font:bold 18px/40px $font-style-base;
			color:#fff;
			background-color:#818181;
			cursor:pointer;
			&:before{
				position:absolute;
				right:20px;
				top:18px;
				content:'';
				width:0;
				height:0;
				border-style:solid;
				border-width:5px;
  				border-color:#bf1132 transparent transparent transparent;
			}
		}
		.title-list-content{
			position:absolute;
			top:0;
			left:0;
			z-index:1;
			display:none;
			padding:10px;
			width:190px;
			background:#000;
			background:rgba(0,0,0,.8);
        	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8000000,endColorstr=#c8000000);
			dl{
				display:block;
				dt{
					display:block;
					margin-top:10px;
					font:bold 18px/2 $font-style-base;
					color:#fff;
				}
				dd a{
					font:14px/2 $font-style-base;
					color:#fff;
				}
			}
		}
	}
	.list-l-product{
		padding:0 20px;
		margin-top:10px;
		background-color:#fff;
		>h3{
			padding:10px 0;
			background:url(../../images/icon7.png) 120px center no-repeat;
			font:bold 16px/23px $font-style-base;
			color:#666;	
		}
		.product-items-content{
			.product-items{
				display:block;
				padding:8px 0;
				margin-bottom:8px;
				border-bottom:1px solid #ccc;
				.img{
					margin-bottom:10px;
					width:150px;
					height:150px;
					line-height:150px;
					background-color:#ccc;
					text-align:center;
					font-size:0;
					>img{
						vertical-align:middle;
						max-width: 100%;
						max-height: 100%;
					}	
				}
				h5{
					font:14px/1.5 $font-style-base;
					color:#666;		
					overflow: hidden;
				    text-overflow: ellipsis;
				    word-break: break-all;
				    white-space: nowrap;
				    width: 150px;
				}
				p{
					font:14px/1.5 $font-style-base;
					color:#666;	
					overflow: hidden;
				    text-overflow: ellipsis;
				    word-break: break-all;
				    white-space: nowrap;
				    width:150px;	
				}
				h6{
					font:bold 14px/1.5 $font-style-base;
					color:#c01132;		
				}
				&:first-child +div+div{
					border-bottom:0;
				}
			}
		}	
	}
	.list-l-product-foot{
		margin-top:10px;
		img{
			width:100%;
		}
	}
}
.list-r{
	margin-left:200px;
	.list-r-tilte{
		.list-r-tilte-l{
			padding:10px 0;
			float:left;
			h4{
				display:inline-block;
				vertical-align: middle;
				font:bold 14px/2 $font-style-base;
				color:#666;
			}
			ul{
				display:inline-block;
				vertical-align: middle;
				li{
					float:left;
					a{
						padding:0 5px;
						font:14px/1 $font-style-base;
						color:#666;
						border-left:1px solid #999;
					}
					&:first-child a{
						border-left:0;
					}
				}
			}
		}
		.list-r-tilte-r{
			padding:10px 0;
			float:right;
			width:190px;
			height:auto;
			background:#c31032;
			background:linear-gradient(#e60133, #c01132); 
			a{
				display:inline-block;
				width:92px;
				text-align:center;
				font:14px/16px $font-style-base;
				color:#fff;
				border-right:1px solid #fff;
				&:first-child + a{
					border-right:0;
				}
			}
		}
	}
}