@import 'variable';
.container-list{
	margin-bottom:20px;
}
.list-l{
	float:left;
	width:190px;
	.list-l-product{
		padding:0 20px;
		background-color:#fff;
		>h3{
			padding:10px 0;
			background:url(../../images/icon7.png) 120px center no-repeat;
			font:bold 16px/23px $font-style-base;
			color:#666;	
		}
		.product-items-content{
			.product-items{
				display:block;
				padding:8px 0;
				margin-bottom:8px;
				border-bottom:1px solid #ccc;
				.img{
					margin-bottom:10px;
					width:150px;
					height:150px;
					line-height:150px;
					background-color:#ccc;
					text-align:center;
					font-size:0;
					>img{
						vertical-align:middle;
						max-width: 100%;
						max-height: 100%;
					}	
				}
				h5{
					font:14px/1.5 $font-style-base;
					color:#666;		
					overflow: hidden;
				    text-overflow: ellipsis;
				    word-break: break-all;
				    white-space: nowrap;
				    width: 150px;
				}
				p{
					font:14px/1.5 $font-style-base;
					color:#666;	
					overflow: hidden;
				    text-overflow: ellipsis;
				    word-break: break-all;
				    white-space: nowrap;
				    width:150px;	
				}
				h6{
					font:bold 14px/1.5 $font-style-base;
					color:#c01132;		
				}
				&:first-child +div+div{
					border-bottom:0;
				}
			}
		}	
	}
	.list-l-product-foot{
		margin-top:10px;
		img{
			width:100%;
		}
	}
}
.list-r{
	margin-left:200px;
	.list-r-nav{
		padding:10px;
		background-color:#fff;
		overflow:hidden;
		.list-r-nav-l{
			float:left;
			padding:7px 0 10px 7px;
			.t,.b{
				h4{
					margin-right:20px;
					display:inline-block;
					font:bold 14px/2 $font-style-base;
					color:#666;
				}
				ul{
					display:inline-block;
					li{
						display:inline-block;
						font:14px/1 $font-style-base;
						color:#666;
						border-right:1px solid #999;
						padding-right:10px;
						margin-right:5px;
						cursor:pointer;
						&:hover{
							color:#c21032;
						}
					}
					li.on{
						color:#c21032;
					}
				}
				span{
					display:inline-block;
					font:14px/1 $font-style-base;
					color:#c21032;
					cursor:pointer;
				}
			}
		}
		.list-r-nav-r{
			float:right;
			font-size:0;
		}
	}
	.list-r-prodect{
		margin-top:10px;
		overflow:hidden;
		.list-r-prodect-items{
			padding:15px;
			margin:10px 10px 0 0;
			float:left;
			width:190px;
			background-color:#fff;
			.img{
				display:block;
				margin-bottom:10px;
				width:160px;
				height:160px;
				line-height:160px;
				background-color:#ccc;
				text-align:center;
				font-size:0;
				>img{
					vertical-align:middle;
					max-width: 100%;
					max-height: 100%;
				}	
			}
			h5 a{
				display: block;
				font:14px/1.8 $font-style-base;
				color:#666;		
				overflow: hidden;
			    text-overflow: ellipsis;
			    word-break: break-all;
			    white-space: nowrap;
			    width: 150px;
			}
			p a{
				display: block;
				font:14px/1.8 $font-style-base;
				color:#666;	
				overflow: hidden;
			    text-overflow: ellipsis;
			    word-break: break-all;
			    white-space: nowrap;
			    width:150px;	
			}
			h6{
				font:bold 14px/1.8 $font-style-base;
				color:#c01132;		
			}
			.btn{
				margin-top:5px;
				padding:0 10px;
				display:block;
				width:160px;
				height:32px;
				border:1px solid #ccc;
				font:14px/30px $font-style-base;
				color:#666;	
				background:url(../../images/list_icon2.png) #fff 134px center no-repeat;
				&:hover{
					color:#fff;	
					border:1px solid #c21032;
					background:url(../../images/list_icon1.png) #c21032 134px center no-repeat;
				}
			}
			&:first-child + div + div + div + div{
				margin-right:0;
			}
			&:first-child + div + div + div + div+ div + div + div + div + div{
				margin-right:0;
			}
			&:first-child + div + div + div + div+ div + div + div + div + div+ div + div + div + div + div{
				margin-right:0;
			}	
		}
	}
}